<a href="https://colab.research.google.com/github/arthurvaz05/Python.Script/blob/master/Deep_Feature_Synthesis_(DFS).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Instalação Bibliotecas

In [1]:
!pip uninstall -y folium
!pip install -q folium==0.2.1
!pip uninstall -y urllib3
!pip install -q urllib3==1.25.4

Found existing installation: folium 0.2.1
Uninstalling folium-0.2.1:
  Successfully uninstalled folium-0.2.1
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Found existing installation: urllib3 1.25.4
Uninstalling urllib3-1.25.4:
  Successfully uninstalled urllib3-1.25.4
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [2]:
!pip install -q --upgrade pip
!pip uninstall -y featuretools
#!pip install -q featuretools~=0.23.0
!pip install -q featuretools~=0.1.14
!pip uninstall -y pandas
!pip install -q pandas~=1.1.0
print('Bibliotecas instaladas com sucesso!!')

WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Found existing installation: featuretools 0.1.21
Uninstalling featuretools-0.1.21:
  Successfully uninstalled featuretools-0.1.21
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Found existing installation: pandas 1.1.5
Uninstalling pandas-1.1.5:
  Successfully uninstalled pandas-1.1.5
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Bibliotecas instaladas com sucesso!!

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Carregar Bibliotecas

In [4]:
from google.colab import auth
auth.authenticate_user()

from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)
data_drop = drive.CreateFile({'id':'10aXz56ohVOgF2gH4yvmrvTJFY990RHZ1'})
data_drop.GetContentFile('dropoff_neighborhoods.csv')
data_pick = drive.CreateFile({'id':'1zakjpcMUZTKanSeVlPWbYhL85zn5g8zX'})
data_pick.GetContentFile('pickup_neighborhoods.csv')
data_trips = drive.CreateFile({'id':'1D4OJPulDK-Z5l4mgwuI2C1zBr4JRC-Q5'})
data_trips.GetContentFile('trips.pkl')
utils_file = drive.CreateFile({'id':'1UbV2z7L5vonCz3KFLywGs4U-p2g5gQwy'})
utils_file.GetContentFile('utils.py')

print('Google Drive sincronizado com sucesso!')

Google Drive sincronizado com sucesso!

In [5]:
import featuretools as ft
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import utils
from featuretools.primitives import (Count, Day, Hour, Max, Mean, Median, Min,
                                     Minute, Month, Std, Sum, Week, Weekday,
                                     Weekend as Weekend)
from sklearn.ensemble import GradientBoostingRegressor
from utils import (compute_features, feature_importances, load_nyc_taxi_data,
                   preview)
%matplotlib inline

print('Bibliotecas importadas com suceso!')

Bibliotecas importadas com suceso!

Exemplo 1

In [6]:
trips, pickup_neighborhoods, dropoff_neighborhoods = load_nyc_taxi_data()
preview(trips, 10)
print('Dados carregados com sucesso!')

Dados carregados com sucesso!

## Carregar dataset do Kaggle - Exemplo 2

In [9]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.25.4)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.62.3)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [10]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))
  
# Then move kaggle.json into the folder where the API expects to find it.
!mkdir -p ~/.kaggle/ && mv kaggle.json ~/.kaggle/ && chmod 600 ~/.kaggle/kaggle.json

Saving kaggle.json to kaggle.json
User uploaded file "kaggle.json" with length 67 bytes

In [12]:
!kaggle datasets download "willkoehrsen/automated-feature-engineering-demo"

automated-feature-engineering-demo.zip: Skipping, found more recently modified local copy (use --force to force download)

In [13]:
!unzip automated-feature-engineering-demo.zip

Archive:  automated-feature-engineering-demo.zip
replace clients.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: A
  inflating: clients.csv
  inflating: loans.csv
  inflating: payments.csv

In [14]:
import pandas as pd 

basepath = "/Data Sources/automated feature engineering demo/"
clients = pd.read_csv("clients.csv")
loans = pd.read_csv("loans.csv")
payments = pd.read_csv("payments.csv")

# DFS

## Explorando os dados dos exemplos

In [15]:
trips.head(5)

       id  vendor_id  ... pickup_neighborhood dropoff_neighborhood
0  514030          2  ...                  AA                    K
1  514031          1  ...                   L                    U
2  514032          1  ...                   H                    Q
3  514033          2  ...                  AC                   AC
4  514034          1  ...                   G                    I

[5 rows x 14 columns]

In [16]:
pickup_neighborhoods.head(5)

  neighborhood_id   latitude  longitude
0              AH  40.804349 -73.961716
1               Z  40.715828 -73.954298
2               D  40.750179 -73.992557
3              AT  40.729670 -73.981693
4              AG  40.749843 -74.003458

In [17]:
dropoff_neighborhoods.head(5)

  neighborhood_id   latitude  longitude
0               C  40.783780 -73.953145
1               S  40.836792 -73.934381
2              AL  40.818445 -73.948046
3               J  40.799573 -73.940427
4              AV  40.776270 -73.982322

In [18]:
clients.head(5)

   client_id      joined  income  credit_score
0      46109  2002-04-16  172677           527
1      49545  2007-11-14  104564           770
2      41480  2013-03-11  122607           585
3      46180  2001-11-06   43851           562
4      25707  2006-10-06  211422           621

In [19]:
loans.head(5)

   client_id loan_type  loan_amount  ...  loan_start    loan_end  rate
0      46109      home        13672  ...  2002-04-16  2003-12-20  2.15
1      46109    credit         9794  ...  2003-10-21  2005-07-17  1.25
2      46109      home        12734  ...  2006-02-01  2007-07-05  0.68
3      46109      cash        12518  ...  2010-12-08  2013-05-05  1.24
4      46109    credit        14049  ...  2010-07-07  2012-05-21  3.13

[5 rows x 8 columns]

In [20]:
payments.head(5)

   loan_id  payment_amount payment_date  missed
0    10243            2369   2002-05-31       1
1    10243            2439   2002-06-18       1
2    10243            2662   2002-06-29       0
3    10243            2268   2002-07-20       0
4    10243            2027   2002-07-31       1

## Entidades e relações

In [21]:
# Exemplo 1 - direto, mencionando a variavel que vai ficar como index e a variavel que tem formato de data. Colocar no formato de dicionário
entities = {
    "trips": (trips, "id", 'pickup_datetime'),
    "pickup_neighborhoods": (pickup_neighborhoods, "neighborhood_id"),
    "dropoff_neighborhoods": (dropoff_neighborhoods, "neighborhood_id"),
}

In [22]:
# Exemplo 2 - podemos criar de forma mais customizada e indicando as variáveis 
#Cria o set de dataframes ou tabelas
es = ft.EntitySet(id = 'clients')
#Cria uma entity do dataset client
# Esse dataset já tem u index e time index
es = es.entity_from_dataframe(entity_id = 'clients', dataframe = clients, 
                              index = 'client_id', time_index = 'joined')
#Cria uma entity do dataset loans
es = es.entity_from_dataframe(entity_id = 'loans', dataframe = loans, 
                              variable_types = {'repaid': ft.variable_types.Categorical},
                              index = 'loan_id', 
                              time_index = 'loan_start')
#Cria uma entity do dataset payments
# Esse dataset não possui index mas possui time index
es = es.entity_from_dataframe(entity_id = 'payments', 
                              dataframe = payments,
                              variable_types = {'missed': ft.variable_types.Categorical},
                              make_index = True,
                              index = 'payment_id',
                              time_index = 'payment_date')

In [23]:
es

Entityset: clients
  Entities:
    clients [Rows: 25, Columns: 4]
    loans [Rows: 443, Columns: 8]
    payments [Rows: 3456, Columns: 5]
  Relationships:
    No relationships

## Relationships

In [24]:
# Exemplo 1 - na mesma lógica do entity, criar uma lista para indicar as relações
relationships = [("pickup_neighborhoods", "neighborhood_id", "trips", "pickup_neighborhood"),
                 ("dropoff_neighborhoods", "neighborhood_id", "trips", "dropoff_neighborhood")]

In [25]:
# Exemplo 2 - Criar diretamente no grupo de função DFS, as relações das variaveis clients e loans atraves da variavel em comum client_id
r_client_previous = ft.Relationship(es['clients']['client_id'],es['loans']['client_id'])

# Adicionar no entity set criado
es = es.add_relationship(r_client_previous)

# Exemplo 2 - Criar diretamente no grupo de função DFS, as relações das variaveis loans e payments atraves da variavel em comum loan_id
r_payments = ft.Relationship(es['loans']['loan_id'],es['payments']['loan_id'])

# Adicionar no entity set criado
es = es.add_relationship(r_payments)

## Feature Primitives

In [31]:
primitives = ft.list_primitives()
pd.options.display.max_colwidth = 100
primitives[primitives['type'] == 'transform'].head(10)

          name  ...                                                                                      description
19         not  ...                                   For each value of the base feature, negates the boolean value.
20     seconds  ...                                        Transform a Timedelta feature into the number of seconds.
21       hours  ...                                          Transform a Timedelta feature into the number of hours.
22        isin  ...                     For each value of the base feature, checks whether it is in a provided list.
23        days  ...                                           Transform a Timedelta feature into the number of days.
24  time_since  ...                                                           Calculates time since the cutoff time.
25         mod  ...                                           Creates a transform feature that divides two features.
26  characters  ...                                                         Return the characters in a given string.
27     cum_max  ...  Calculates the max of previous values of an instance for each value in a time-dependent entity.
28    multiply  ...                                         Creates a transform feature that multplies two features.

[10 rows x 3 columns]

In [30]:
primitives[primitives['type'] == 'aggregation'].head(10)

            name  ...                                                              description
0            std  ...  Finds the standard deviation of a numeric feature ignoring null values.
1          count  ...                                    Counts the number of non null values.
2         median  ...          Finds the median value of any feature with well-ordered values.
3  n_most_common  ...               Finds the N most common elements in a categorical feature.
4       num_true  ...                          Finds the number of 'True' values in a boolean.
5            max  ...                   Finds the maximum non-null value of a numeric feature.
6           mode  ...                  Finds the most common element in a categorical feature.
7            sum  ...           Counts the number of elements of a numeric or boolean feature.
8          trend  ...           Calculates the slope of the linear trend of variable overtime.
9            all  ...                                           Test if all values are 'True'.

[10 rows x 3 columns]

In [32]:
#Exemplo 1 - Montar a função DSF
features1, feature_names1 = ft.dfs(entityset = es, target_entity = 'clients', 
                                 agg_primitives = ['mean', 'max', 'percent_true', 'last'],
                                 trans_primitives = ['years', 'month', 'divide'])

print(f"Número de features: {len(feature_names1)}")
feature_names1

In [26]:
#Exemplo 2 - Além de escolher a operação Weekend importada, iremos montar o formato DFS, utilizando as listas criadas anteriores, além de ignorar variáveis
#Essa operação Weekend irá percorrer todo o dataset em busca de variáveis de tempo para criar 
trans_primitives = [Weekend]

#Criar a funçnao DFS
features2 = ft.dfs(entities =entities,
                  relationships=relationships,
                  target_entity="trips",
                  trans_primitives=trans_primitives,
                  agg_primitives=[],
                  ignore_variables={"trips": ["pickup_latitude", "pickup_longitude",
                                              "dropoff_latitude", "dropoff_longitude", "trip_duration"]},
                  features_only=True)

print(f"Número de features: {len(features2)}")
features2

Primitivas de transformação configuradas com sucesso!

In [27]:
print(f"Número de features: {len(features2)}")
features2

Número de features: 12

[<Feature: vendor_id>,
 <Feature: passenger_count>,
 <Feature: trip_distance>,
 <Feature: payment_type>,
 <Feature: pickup_neighborhood>,
 <Feature: dropoff_neighborhood>,
 <Feature: WEEKEND(pickup_datetime)>,
 <Feature: WEEKEND(dropoff_datetime)>,
 <Feature: pickup_neighborhoods.latitude>,
 <Feature: pickup_neighborhoods.longitude>,
 <Feature: dropoff_neighborhoods.latitude>,
 <Feature: dropoff_neighborhoods.longitude>]

In [36]:
features

           income  ...  income / MEAN(loans.rate)
client_id          ...
25707      211422  ...               60805.867127
26326      227920  ...               90534.260179
26695      174532  ...               70772.155891
26945      214516  ...               75128.181181
29841       38354  ...               11133.236575
32726      235705  ...               77054.284240
32885       58955  ...               24201.559934
32961      230341  ...               58602.170009
35089      131176  ...               37334.851288
35214       95849  ...               30836.139410
38537      127183  ...               53227.744953
39384      191204  ...               54036.531310
39505      153873  ...               48228.490832
41472      152214  ...               38232.715856
41480      122607  ...               39417.135509
42320      229481  ...               93386.190993
44387      151903  ...               54122.209026
44601      156341  ...               37663.454589
46109      172677  ...               54774.623315
46180       43851  ...               12519.914347
46958      225709  ...               71566.268293
48177      190632  ...               48396.686264
49068      128813  ...               41612.239770
49545      104564  ...               38958.271237
49624       49036  ...               12145.640687

[25 rows x 143 columns]

In [ ]:
#Exemplo 1 - Montar a função DSF automatica
features3, feature_names3 = ft.dfs(entityset=es, target_entity='clients', 
                                 max_depth = 2)